snippet feat "New Feature" b
Feature: ${1:Feature Description}
  In order to $2
  As an $3
  I would like to $4

  $5
endsnippet

snippet sc "New Scenario" b
Scenario:$1
  $2
endsnippet

snippet g "Given ..." b
Given $1
endsnippet

snippet w "When ..." b
When $1
endsnippet

snippet t "Then ..." b
Then $1
endsnippet

snippet a "And ..." b
And $1
endsnippet
