snippet st "Cucumber step call"
step "$1"$2
endsnippet

snippet given "Cucumber step definition" b
Given(/^$1/) do
  $2
end$3
endsnippet

snippet task "Rake Task" b
desc "$1"
task $2: :environment do
	$3
end
endsnippet
